/*Start of Mobile Breakpoint */
/*Global Breakpoint*/
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: yellow;
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
}

h1 {
  color: #B2B2B2;
  font-family: 'Dosis', sans-serif;
  max-width: 100%;
  font-size: 30px;
  letter-spacing: 5px;
  margin: 20px;
  text-align: center;
  transition: all 0.7s ease;
}
h1:hover {
  color: #000000;
  transition: all 0.7s ease;
}
h2 {
  color: #B2B2B2;
  font-family: 'Dosis', sans-serif;
  max-width: 100%;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 20px;
  text-align: center;
  transition: all 0.7s ease;
}
h3 {
  color: #EEEEEE;
  font-family: 'Dosis', sans-serif;
  max-width: 100%;
  font-size: 15px;
  letter-spacing: 5px;
  margin: 20px;
  text-align: center;
}
p {
  font-size: 10px;
  max-width: 100%;
  text-align: center;
  color: #000000;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  padding-top: 50px;
  margin: 10px;
}
.container1 {
  height: 1500px;
}
#content {
  height: 500px;
  margin-top: 10px;
  margin-left: 10px;
}
.video {
  padding-left: 10px;
  padding-right: 10px;
}
#col {
  margin: 0 auto;
}
hr {
  margin: 30px 20px;
  border-top: 2px solid #1C1E26;
  border-bottom: 2px solid #38404D;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}
/*---- Genral classes end -------*/
/*Change icons size here*/

.social-icons .fa {
  font-size: 1.8em;
}
/*Change icons circle size and color here*/

.social-icons .fa {
  width: 45px;
  height: 45px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
}
.social-icons.icon-circle .fa {
  border-radius: 50%;
}
.social-icons.icon-rounded .fa {
  border-radius: 5px;
}
.social-icons.icon-flat .fa {
  border-radius: 0;
}
.social-icons .fa:hover,
.social-icons .fa:active {
  color: #FFF;
  box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover,
.social-icons.icon-zoom .fa:active {
  transform: scale(1.1);
}
.social-icons.icon-rotate .fa:hover,
.social-icons.icon-rotate .fa:active {
  transform: scale(1.1) rotate(360deg);
}
.social-icons .fa-facebook,
.social-icons .fa-facebook-square {
  background-color: #3C599F;
}
.social-icons .fa-github,
.social-icons .fa-github-square {
  background-color: #070709;
}
.social-icons .fa-google-plus,
.social-icons .fa-google-plus-square {
  background-color: #CF3D2E;
}

.social-icons .fa-instagram {
  background-color: #A1755C;
}
.social-icons .fa-twitter,
.social-icons .fa-twitter-square {
  background-color: #32CCFE;
}

.social-icons .fa-youtube,
.social-icons .fa-youtube-play,
.social-icons .fa-youtube-square {
  background-color: #C52F30;
}

.grow:hover {
  transform: scale(0.7);
}
.grow {
  width: 432px;
  height: 700px;
  background: #676470;
  transition: all 0.5s ease;
  max-width: 100%;
}
.animatefading {
  max-width: 100%;
  animation: fading 7s
}
@keyframes fading {
  0% {
    opacity: 0
  }
}
.logo {
  text-align: center;
}
#map {
  width: 100%;
  height: 400px;
}
.column.middle {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

footer {
  width: 100%;
  height: 600px;
  background-color: #282828;
  color: #E2E2E2;
  text-align: center;
}
/* SECOND BREAKPOINT (TABLET SIZE) */

@media screen and (min-width: 500px) {
  body {
    background-color: orange;
    font-family: arial;
  }

  h1 {
    color: #B2B2B2;
    font-family: 'Dosis', sans-serif;
    max-width: 100%;
    font-size: 30px;
    letter-spacing: 5px;
    margin: 20px;
    text-align: center;
    transition: all 0.7s ease;
  }
  h1:hover {
    color: #000000;
    transition: all 0.7s ease;
  }
  h2 {
    color: #B2B2B2;
    font-family: 'Dosis', sans-serif;
    max-width: 100%;
    font-size: 25px;
    letter-spacing: 5px;
    margin: 20px;
    text-align: center;
    transition: all 0.7s ease;
  }
  p {
    font-size: 15px;
  }

  .container1 {
    height: 1000px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 24px;
    padding: 25px;
  }
  #content {
    height: 400px;
    margin-top: 10px;
  }
  .parallax {
    background-image: url(http://www.schooltripworld.co.uk/assets/themes/leisureworld/library/images/lw-banner-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    max-width: 100%;
  }
  .parallax1 {
    background-image: url(http://www.crainsnewyork.com/apps/pbcsi.dll/storyimage/CN/20130724/ECONOMY/130729951/AR/0/Wall-Street.jpg?q=100);
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    max-width: 100%;
  }
  .parallax2 {
    background-image: url(https://media.timeout.com/images/103444978/image.jpg);
    height: 800px;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0 auto;
    max-width: 100%;
  }
  .parallax3 {
    background-image: url(https://cdn.viewing.nyc/assets/media/e13821f3391e0459d1e4d14cb45890d1/elements/22f99c6308f1adf4f5aca54a2917e124/0ee08872-0b1c-4a08-a745-23e43f02e001.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    max-width: 100%;
  }
  .paratext {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
  }
  .paratext .border {
    background-color: black;
    color: white;
    padding: 20px;
  }
  hr {
    margin: 30px 20px;
    border-top: 2px solid #1C1E26;
    border-bottom: 2px solid #38404D;
  }
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  .list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
  }
  /*---- Genral classes end -------*/
  /*Change icons size here*/

  .social-icons .fa {
    font-size: 1.8em;
  }
  /*Change icons circle size and color here*/

  .social-icons .fa {
    width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
  }
  .social-icons.icon-circle .fa {
    border-radius: 50%;
  }
  .social-icons.icon-rounded .fa {
    border-radius: 5px;
  }
  .social-icons.icon-flat .fa {
    border-radius: 0;
  }
  .social-icons .fa:hover,
  .social-icons .fa:active {
    color: #FFF;
    box-shadow: 1px 1px 3px #333;
  }
  .social-icons.icon-zoom .fa:hover,
  .social-icons.icon-zoom .fa:active {
    transform: scale(1.1);
  }
  .social-icons.icon-rotate .fa:hover,
  .social-icons.icon-rotate .fa:active {
    transform: scale(1.1) rotate(360deg);
  }
  .social-icons .fa-facebook,{
    background-color: #3C599F;
  }
  .social-icons .fa-github, {
    background-color: #070709;
  }
  .social-icons .fa-google-plus,   {
    background-color: #CF3D2E;
  }
  .social-icons .fa-html5 {
    background-color: #E54D26;
  }
  .social-icons .fa-instagram {
    background-color: #A1755C;
  }
  .social-icons .fa-twitter, {
    background-color: #32CCFE;
  }
  .social-icons .fa-youtube,{
    background-color: #C52F30;
  }
  .video {
    padding-left: 10px;
    padding-right: 10px;
  }
  .grow:hover {
    transform: scale(0.7);
  }
  .grow {
    width: 432px;
    height: 700px;
    background: #676470;
    transition: all 0.5s ease;
    max-width: 100%;
  }
  .animatefading {
    max-width: 100%;
    animation: fading 7s
  }
    /* Fading animation */

    .fade {
      animation-name: fade;
      animation-duration: 2.0s;
    }
    section {
      width: 100%;
    }
  }
  .logo {
    text-align: center;
  }
  .column.middle {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  footer {
    width: 100%;
    height: 550px;
    background-color: #282828;
    color: #E2E2E2;
    text-align: center;
  }

/* END OF SECOND BREAKPOINT */


/*  BREAKPOINT (DESKTOP SIZE) */

@media screen and (min-width: 1200px) {
  body {
    background: red;
    font-family: arial;
  }
  h1 {
    color: #B2B2B2;
    font-family: 'Dosis', sans-serif;
    max-width: 100%;
    font-size: 30px;
    letter-spacing: 5px;
    margin: 20px;
    text-align: center;
    transition: all 0.7s ease;
  }
  h1:hover {
    color: #000000;
    transition: all 0.7s ease;
  }
  h2 {
    color: #B2B2B2;
    font-family: 'Dosis', sans-serif;
    max-width: 100%;
    font-size: 20px;
    letter-spacing: 5px;
    margin: 20px;
    text-align: center;
    transition: all 0.7s ease;
  }
  h3 {
    color: #EEEEEE;
    font-family: 'Dosis', sans-serif;
    max-width: 100%;
    font-size: 15px;
    letter-spacing: 5px;
    margin: 20px;
    text-align: center;
  }

  h4  {
    color: #EEEEEE;
    font-family: 'Dosis', sans-serif;
    max-width: 100%;
    font-size: 15px;
    letter-spacing: 5px
  }
  h5  {
    color: #EEEEEE;
    font-family: 'Dosis', sans-serif;
    max-width: 100%;
    font-size: 10px;
    letter-spacing: 5px
  }

  p {
    font-size: 10px;
    max-width: 100%;
    text-align: center;
    color: #000000;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    padding-top: 50px;
    margin: 10px;
  }
  #content {
    height: 600px;
    margin-top: 10px;
  }
  .container1 {
    max-width: 100%;
    margin: 0 auto;
    font-size: 24px;
    margin-left: 10px;
  }
  .w3-animate-left {
    position: relative;
    animation: animateleft 0.9s
  }
  .main
  .zo {
    max-width: 100%;
    height: 700px;
    background: url('../img/background4.jpg') no-repeat fixed;
    background-size: cover;
  }
  .zoom {
    width: 100px;
    height: 100px;
    border: 0.5px solid #FFF;
    border-radius: 50%;
    transform: scale(1.6);
    position: absolute;
    top: 50px;
    left: 500px;
    overflow: hidden;
  }
  p {
    font-size: 15px;
    max-width: 100%;
    text-align: center;
    color: #000000;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    padding-top: 50px;
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
  }
  p:hover {
    font-size: 20px;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
  }
  .parallax {
    background-image: url(http://www.schooltripworld.co.uk/assets/themes/leisureworld/library/images/lw-banner-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  .parallax1 {
    background-image: url(http://www.crainsnewyork.com/apps/pbcsi.dll/storyimage/CN/20130724/ECONOMY/130729951/AR/0/Wall-Street.jpg?q=100);
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
  }
  .parallax2 {
    background-image: url(https://media.timeout.com/images/103444978/image.jpg);
    height: 800px;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    margin: 0 auto;
  }
  .parallax3 {
    background-image: url(https://cdn.viewing.nyc/assets/media/e13821f3391e0459d1e4d14cb45890d1/elements/22f99c6308f1adf4f5aca54a2917e124/0ee08872-0b1c-4a08-a745-23e43f02e001.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  .parallax4 {
    background-image: url(http://nissanmaxima.me/wp-content/uploads/printable-map-of-new-york-city-attractions-11-tourist-on-ny.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  .parallax6 {
    background-image: url(https://www.statuecruises.com/images/HSC-HomepageImage.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  .parallax5 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/05/US_Navy_081111-N-2636M-213_Parade_onlookers_wave_American_flags_and_signs_as_Sailors_assigned_to_the_multi-purpose_amphibious_assault_ship_USS_Bataan_%28LHD_5%29_march_in_the_annual_New_York_Veterans_Day_parade.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  .paratext {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
  }
  .paratext .border {
    background-color: black;
    color: white;
    padding: 20px;
  }
  .video {
    padding-left: 10px;
    padding-right: 10px;
  }
  hr {
    margin: 30px 20px;
    border-top: 2px solid #1C1E26;
    border-bottom: 2px solid #38404D;
  }
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  .list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
  }
  /*---- Genral classes end -------*/
  /*Change icons size here*/

  .social-icons .fa {
    font-size: 1.8em;
  }
  /*Change icons circle size and color here*/

  .social-icons .fa {
    width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
  }
  .social-icons.icon-circle .fa {
    border-radius: 50%;
  }
  .social-icons.icon-rounded .fa {
    border-radius: 5px;
  }
  .social-icons.icon-flat .fa {
    border-radius: 0;
  }
  .social-icons .fa:hover,
  .social-icons .fa:active {
    color: #FFF;
    box-shadow: 1px 1px 3px #333;
  }
  .social-icons.icon-zoom .fa:hover,
  .social-icons.icon-zoom .fa:active {
    transform: scale(1.1);
  }
  .social-icons.icon-rotate .fa:hover,
  .social-icons.icon-rotate .fa:active {
    transform: scale(1.1) rotate(360deg);
  }
  .social-icons .fa-facebook,{
    background-color: #3C599F;
  }
  .social-icons .fa-github, {
    background-color: #070709;
  }
  .social-icons .fa-google-plus,   {
    background-color: #CF3D2E;
  }
  .social-icons .fa-html5 {
    background-color: #E54D26;
  }
  .social-icons .fa-instagram {
    background-color: #A1755C;
  }
  .social-icons .fa-twitter, {
    background-color: #32CCFE;
  }
  .social-icons .fa-youtube,{
    background-color: #C52F30;
  }
  .grow:hover {
    transform: scale(0.7);
  }
  .grow {
    width: 432px;
    height: 700px;
    background: #676470;
    transition: all 0.5s ease;
    max-width: 100%;
  }
  .animatefading {
    max-width: 100%;
    animation: fading 7s
  }
    section {
      width: 100%;
    }
}
  .logo {
    text-align: center;
  }
  .column.middle {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 6px;
    background-color: #FAFAFA;
  }
  .head {
    border-radius: 6px 6px 0px 0px;
    background-color: #2ABCA7;
    color: #FAFAFA;
  }
  h2 {
    padding: 18px 0 18px 0;
    color: #B2B2B2;
    font-family: 'Dosis', sans-serif;
    max-width: 100%;
    font-size: 40px;
    letter-spacing: 5px;
    margin: 20px;
    text-align: center;
    transition: all 0.7s ease;
    font-weight: bold;
  }
textarea {
  height: 100px;
  margin-bottom: 10px;
}
input:first-of-type {
  margin-top: 35px;
}
input,
textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  color: black;
  border-radius: 5px;
  background-clip: padding-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}

button {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #2ABCA7;
  padding: 12px 45px;;
  border-radius: 5px;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width: 30%;
}
button:hover,
.button:hover {
  background: #19a08c;
}
label.error {
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-size: 1em;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d89c9c;
  width: 80%;
  margin: auto;
  color: #FAFAFA;
  border-radius: 6px;
}
/* media queries */

@media (max-width: 700px) {
  label.error {
    width: 100%;
  }
  input,
  textarea {
    width: 100%;
  }
  button {
    width: 100%;
  }
}
.message {
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-size: 1.1em;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2ABCA7;
  width: 80%;
  margin: auto;
  color: #FAFAFA;
  border-radius: 6px;
}
fa.fa-home {
  float: right;
}

footer {
  width: 100%;
  height: 540px;
  background-color: #282828;
  color: #E2E2E2;
  text-align: center;
}


.twitter {
display: block;
margin: auto;
height: 50%;
width: 50%;
}

body { margin: 0; background: #; }
header {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
header div {
  flex: auto;
  width: 200px;
  margin: .5vw;
}
header div img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }

}
header {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
header div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
header div img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }

}
#slidy-container {
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 15px;
}
.image1{
  max-width: 100%;
  border-radius: 20px;
}
/* END OF THIRD BREAKPOINT */

.topnav {
  overflow: hidden;
  background-color: #333;
  list-style: none;
  margin: 0 auto;
  max-width: 100%;
}
.topnav a {
  float: right ;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 4px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}
.topnav a:hover {
  background-color: #ddd;
  color: #000000;
}
.active {
  background-color: #D0D0D0;
  color: #000000;
}
.topnav .icon {
  display: none;
  float: left;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
img {
  max-width: 100%;
}
.short-animate {
  transition: .5s ease-in-out;
}
.long-animate {
  transition: .5s .5s ease-in-out;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
.lightbox {
  position: fixed;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(161, 4, 52, .8);
  z-index: 501;
  opacity: 0;
}
.lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 0%;
  max-height: 0%;
}
#lightbox-controls {
  position: fixed;
  height: 70px;
  width: 70px;
  top: -70px;
  right: 0;
  z-index: 502;
  background: rgba(0, 0, 0, .1);
}
#close-lightbox {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 50px;
  width: 50px;
  text-indent: -5000px;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
}
#close-lightbox:before {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 3px;
  left: 24px;
  top: 0;
  background: white;
  border-radius: 2px;
  transition: .5s .5s ease-in-out;
}
#close-lightbox:after {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 3px;
  top: 24px;
  left: 0;
  background: white;
  border-radius: 2px;
  transition: .5s 1s ease-in-out;
}
.lightbox:target {
  top: 0%;
  bottom: 0%;
  opacity: 1;
}
.lightbox:target img {
  max-width: 100%;
  max-height: 100%;
}
.lightbox:target ~ #lightbox-controls {
  top: 0px;
}
.lightbox:target ~ #lightbox-controls #close-lightbox:after {
  width: 50px;
}
.lightbox:target ~ #lightbox-controls #close-lightbox:before {
  height: 50px;
}
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}
#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
  text-align: center;
}
#contact h3 {
  color: #DEB887;
  display: block;
  font-size: 30px;
  font-weight: 400;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 80%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 80px;
  border: none;
  background: gray;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:hover {
  background: #09C;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
